body {
    animation: gradient 5s ease alternate infinite;
    background: linear-gradient(-45deg, rgb(183, 0, 255), rgb(98, 0, 255), #ff00f2) no-repeat;
    background-size: 300% 300%;
    color: white;


    font-family: sans-serif;

    height: 100vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    opacity: 0;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

button {
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;

    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

button#sim {
    background-color: lawngreen;
}

button#nao {
    background-color: red;
}

div#miau {
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    opacity: 0;
    animation-name: aparecer;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

@keyframes desaparecer {
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}