* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --var1: #0D0D0D;
    --var2: #404040;
    --var3: #737373;
    --var4: #A6A6A6;
    --var5: #F2F2F2;
}


body {
    background-color: var(--var5);
    color: var(--var5);
}

header {
    background-color: var(--var2);
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.material-symbols-outlined {
    font-size: 2em;
}

nav {
    display: block;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    /*width: 100vw;*/
    height: 91vh;
    padding: 10px;
    background-color: gray;
    background: url(../imagens/hero_img.jpg);
    background-position: center;
    background-size: cover;

}

.hero-section > p {
    text-align: justify;
}

.buttons {
    border: 0;
    padding: 10px;
    margin: 10px;
    width: 40%;
    border-radius: 10px;
    background-color: var(--var5);
    color: var(--var1);
}

.products {
    margin-top: 30px;
    margin-bottom: 30px;
}

.display-boxes {
    height: 80%;
    margin: 10px;
    background-color: var(--var3);
    border-radius: 10px;
}

.imagens-hero {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 100%;
}

.sub-text > p{
    height: 70%;
    padding: 10px;
}

.about-us {
    padding: 10px;
    background-color: rgb(44, 44, 44);
    color: white;
}

.about-us > div > h3 {
    text-align: center;
    color: var(--var1);  
}

.about-us > div > p {
    padding: 20px;
    text-align: justify;
}

footer {
    color: white;
    background-color: black;
    font-size: 0.7em;
    padding: 4px;
}