@charset "UTF-8";

:root {
     --dark: #444143;
     --gray: #A19E9D;
     --light: #E2E2DA;
     --white: #FFFFFF;
     --accent: #DCE8E7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, a , button{
    font-family: "Open Sans";
}

hr {
    margin: 0px 20px 0px 20px;
}

body {
    background-color: var(--white);
    color: var(--dark);
}

header {
    padding: 20px;
    background-color: var(--dark);
    color: var(--white);
}

.header-title > h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.567);

    font-family: "Montserrat";
}

span {
    display: block;
}

.header-title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

div#submenu {
    width: 100%;
}

nav {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    background-color: var(--gray);
}



.links {
    color: var(--dark);
    background-color: var(--light);

    font-weight: bold;
    text-align: center;
    text-decoration: none;

    padding: 5px;
    margin: 10px;
}

main {
    background-color: #E2E2DA;
}

.main-hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    
    
    height: 100vh;
    padding: 20px;
}

.text-hero > h1 {
    font-size: 36px;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-bottom: 32px;
}

h3 {
    font-family: "Monteserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-hero > p {
    font-size: 1.7em;
    margin-bottom: 32px;
}

button {
    padding: 10px 40px;
    margin: 10px 10px 0px 0px;

    background-color: var(--dark);
    color: var(--white);

    border-radius: 10px;
    border: none;
}

button:hover {
  background: #DCE8E7;
  color: var(--dark);
}

.quem-somos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem-somos > div {
    border: 1px solid var(--gray);
    border-radius: 10px;
    max-width: 700px;
    min-width: 300px;
    padding: 10px;
    margin: 20px;
    text-align: justify;
}

h3 {
    margin-bottom: 10px;
    font-size: 1.6em;
}

.quem-somos > div > p {
    margin-bottom: 15px;
}

.services {
    display: flex;
    flex-flow: column nowrap;
    
}

.services > h3 {
    text-align: center;
}

section {
    background-color: #E2E2DA;
}

.services, .quem-somos {
    padding: 80px 0px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.services > .container > .cards {
    flex: 0 1 450px;
    display: flex;



    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: 10px;

    background-color: var(--dark);
}

.cards > div {
    align-self: flex-end;
    height: 30%;
    width: 100%;
    background-color: #DCE8E7;
    border-radius: 0px 0px 10px 10px;
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
}

footer > p , footer > .contacts-icons > p{
    font-size: 0.8em;
    padding: 10px;
}

#tell {
    font-size: 16px;
    transform: translate(-1px, 3px);
}

#mail {
    font-size: 16px;
    transform: translate(-1px, 3px);
}

.contacts-icons > p {
    margin: 0px 15px;
}



.contacts-icons > .sub-contacts > a > div > img {
    margin: 10px 18px;
    height: 25px;
    transform: translateY(1px);
}

.contacts-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sub-contacts {
    display: flex;
    align-items: center;
}