* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background-color: black;
    color: white;
}
/*Header*/

header > nav{
    padding: 10px;
}

header > nav > #iconFXmobile {
    height: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;

    transform: translate(1px, 10px);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.sub-menu {
    display: flex;
    flex-direction: row;
}

.links {
    padding: 10px;
    padding-bottom: 2px;
    text-decoration: none;
    color: #FFD700;
}

.links:hover {
    border-bottom: 1px solid #FFD700;
}

#iconFX {
    display: block;
    border: 1px solid #FFD700;
    border-radius: 50%;
    height: 25px;
}


header > nav > #menu > #menu2 > a:hover {
    background-color: rgba(134, 134, 134, 0.197);
}

/*Fim do Header*/

main {
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main > h1, main > p {
    color: #FFD700;
}

footer {
    display: block;
    text-align: center;
    padding: px;
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    font-size: 0.7em;
}



/* Animação para textos do main */
@keyframes subirFade {
    0% {
        opacity: 0;
        transform: translateY(50px); /* começa 50px abaixo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* termina na posição normal */
    }
}

main h1, main p {
    opacity: 0; /* garante que começam invisíveis */
    animation: subirFade 1s ease-out forwards;
}

main p {
    animation-delay: 0.5s; /* aparece um pouco depois do h1 */
}



