@charset "UTF-8";

:root {
     --dark: #444143;
     --gray: #A19E9D;
     --light: #E2E2DA;
     --white: #FFFFFF;
     --accent: #DCE8E7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, a , button{
    font-family: "Open Sans";
}

hr {
    margin: 0px 20px 0px 20px;
}

body {
    background-color: var(--white);
    color: var(--dark);
}

header {
    padding: 20px;
    background-color: var(--dark);
    color: var(--white);
}

.header-title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

.header-title > h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.567);

    font-family: "Montserrat";
}

span {
    display: block;
}


div#submenu {
    display: none;
    width: 100%;
}

nav {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    background-color: var(--gray);
}

.links {
    color: var(--dark);
    background-color: var(--light);

    font-weight: bold;
    text-align: center;
    text-decoration: none;

    padding: 5px;
    margin: 10px;
}

/*Fim do Header*/

/*Inicio do main*/
main {
    background-color: #E2E2DA;
}

section {
    background-color: #E2E2DA;
}

.main-hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    
    height: 100vh;
    padding: 20px;
}

.text-hero > h1 {
    opacity: 0;
    animation: aparecerPrBaixo 2s ease-in-out forwards;
    
    font-size: 36px;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-bottom: 32px;
}

.text-hero > p {
    opacity: 0;
    animation: aparecerPrBaixo 2s ease-in-out forwards;
    font-size: 1.7em;
    margin-bottom: 32px;
}

button {
    opacity: 0;
    animation: aparecer 1s ease-in-out 1s forwards;
    
    padding: 10px 40px;
    margin: 10px 10px 0px 0px;
    
    background-color: var(--dark);
    color: var(--white);
    
    border-radius: 10px;
    border: none;
}

button:hover {
    background: #DCE8E7;
    color: var(--dark);
}

h3 {
    font-family: "Monteserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-bottom: 10px;
    font-size: 1.6em;
}

.quem-somos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem-somos > div {
    border: 1px solid var(--gray);
    border-radius: 10px;
    max-width: 700px;
    min-width: 300px;
    padding: 10px;
    margin: 20px;
    text-align: justify;
}

.quem-somos > div > p {
    margin-bottom: 15px;
}

.services, .quem-somos {
    padding: 80px 0px;
}

.services {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-flow: column nowrap;
    
}

.services > h3 {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.services > .container > .cards {
    flex: 0 1 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border-radius: 10px;
    min-width: 320px;
    max-width: 700px;
    height: 150px;
    margin: 10px;

    background-color: var(--dark);
}

.services > .container > .cards:hover {
    animation: aumentar 2s ease-in-out forwards;
    background-color: bl;
}

.imagens-card {
    border-radius: 10px 0px 0px 10px;
    /*width: 50%;*/
}

.cards > div {
    height: auto;
    width: 50%;
    height: 100%;
    padding: 5px;
    border-radius: 0px 10px 10px 0px;
    box-sizing: border-box;

    background-color: var(--white);
    font-size: 0.7em;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

.cards > div > p:hover {
    animation: aumentar 2s ease-in-out forwards;
}

.services-buttons {
    padding: 2px;
    display: block;
    margin: auto;
    margin: 6px auto;
    width: 80%;
}

.services-buttons:hover {
    border: 1px solid var(--dark);
}

/*Fim do main*/

/*Inicio do footer*/
footer {
    padding: 10px;
    background-color: black;
    color: white;
}

footer > p , footer > .contacts-icons > p{
    font-size: 0.8em;
    padding: 10px;
}

/*Icones do footer*/
#tell {
    font-size: 16px;
    transform: translate(-1px, 3px);
}

#mail {
    font-size: 16px;
    transform: translate(-1px, 3px);
}

.contacts-icons > p {
    margin: 0px 15px;
}


.contacts-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sub-contacts {
    display: flex;
    align-items: center;
}

.contacts-icons > .sub-contacts > a > div > img {
    margin: 10px 18px;
    height: 25px;
    transform: translateY(1px);
}


/*Animacoes*/
@keyframes aparecerPrBaixo {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
    }
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

@keyframes crescer {
    to {
        transform: scale(1.1);
    }
}

@keyframes aumentar {
    to {
        width: 100%;
    }
}