* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background-color: rgb(255, 255, 255);
    color: white;
}
/*Header*/

header {
    background-color: black;
}

header > nav{
    padding: 10px;
}

header > nav > #iconFXmobile {
    height: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;

    transform: translate(1px, 10px);
}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: column wrap;
    padding: 10px;
}

.title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.menu > div > h1 {
    font-size: 1.7em;
}

.logo-icon {
    display: none;
    border: 1px solid #FFD700;
    height: 25px;

    cursor: pointer;
}

.sub-menu {
    display: none;
    flex-direction: column;
    
    width: 100%;
    background-color: white;
}

.links {
    padding: 10px;
    padding-bottom: 2px;
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 5px;
}

.links:hover {
    transition-duration: 0.2s;
    background-color: rgba(141, 141, 141, 0.452);
}


/*Fim do Header*/

main {
    background-color: black;
    height: 88.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

h1 {

}

main > h1, main > p {
    color: #b1b1b1;
}

.main-button {
    margin-top: 14px;
    width: 200px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;

    animation: aparecer 2s ease-out 1s forwards;
}

.whatsapp {
    height: 14px;
    
    transform: translate(5px, 2px);
}

.quem-nos-somos {
    background-color: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
}

.quem-nos-somos > h3 {
    text-align: center;
}

.quem-nos-somos > p {
    margin: 10px;
    text-align: justify;
}


footer {
    display: block;
    text-align: center;
    padding: px;
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    font-size: 0.7em;
}



/* Animação para textos do main */
@keyframes subirFade {
    0% {
        opacity: 0;
        transform: translateY(50px); /* começa 50px abaixo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* termina na posição normal */
    }
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

main h1, main p {
    opacity: 0; /* garante que começam invisíveis */
    animation: subirFade 1s ease-out forwards;
}

main p {
    animation-delay: 0.5s; /* aparece um pouco depois do h1 */
}



