:root {
     --dark: #444143;
     --gray: #A19E9D;
     --light: #E2E2DA;
     --white: #FFFFFF;
     --accent: #DCE8E7;
}


@media screen and (min-width: 768px) {
    nav {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;

    background-color: var(--dark);
    }

.links {
    padding: 0px 15px;
    color: white;
    background-color: var(--dark);
    border-bottom: 1px solid;
}

.main-hero {
    background-image: url(../imagens/ChatGPT\ Image\ 12\ de\ fev.\ de\ 2026\,\ 19_59_53.png);
    background-position: center right;
    background-size: cover;
}

}